---
const rrss = ["linkedin", "facebook", "twitter"];
---

<footer
  class="bg-secondary text-white-modify grid grid-rows-[auto] py-9 gap-8 max-w-[1200px] mx-auto desktopX2:rounded-[20px_20px_0_0] desktop:grid-cols-2 desktop:grid-rows-[1fr_2fr_1fr] desktop:px-20"
>
  <section
    class="flex flex-col items-center gap-5 desktop:col-span-2 desktop:flex-row desktop:justify-between"
  >
    <img src="/icons/logo-white.svg" alt="Logo" />
    <ul class="flex flex-col gap-3 text-sm desktop:flex-row">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Use Cases</a></li>
      <li><a href="#">Pricing</a></li>
    </ul>
    <div class="hidden desktop:flex items-center justify-center gap-4">
      {rrss.map((rrss) => <img src={`/icons/rrss/${rrss}.svg`} alt={rrss} />)}
    </div>
  </section>
  <section
    class="flex flex-col items-center gap-4 text-center desktop:row-start-2 desktop:items-start desktop:text-left"
  >
    <p class="bg-main text-black px-2 rounded-lg font-bold">Contact us:</p>
    <p>Email: info@positivus.com</p>
    <p>Phone: 555-567-8901</p>
    <p>
      Address: 1234 Main St <br class="desktop:hidden" /> Moonstone City, StardustState
      12345
    </p>
  </section>
  <form
    class="bg-[#292a32] w-[90%] mx-auto rounded-2xl flex flex-col items-center justify-center gap-3 py-8 desktop:row-start-2"
  >
    <input
      type="email"
      placeholder="Email"
      class="bg-transparent border-2 rounded-2xl h-[66px] w-[80%] px-3 text-lg outline-none"
    />
    <button
      type="submit"
      class="bg-main text-black w-[80%] h-[66px] rounded-2xl font-bold text-lg"
      >Suscribe to news</button
    >
  </form>
  <div class="flex items-center justify-center gap-8 desktop:hidden">
    {rrss.map((rrss) => <img src={`/icons/rrss/${rrss}.svg`} alt={rrss} />)}
  </div>
  <section
    class="flex flex-col items-center border-t-2 w-[90%] mx-auto pt-9 desktop:col-span-2 desktop:row-start-3 desktop:w-full"
  >
    <p>&copy; 2024 Positivus. All Rights Reserved.</p>
    <span>Privacy Policy</span>
  </section>
</footer>
