---
import ArrowCarrousel from "./ArrowCarrousel";
---

<section class="section-container">
    <div class="container-subtitle">
        <h2 class="subtitle">Testimonials</h2>
        <p>Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services</p>
    </div>
    <div class="bg-secondary w-[90%] mx-auto rounded-3xl my-5 p-6 desktop:overflow-hidden">
        <ArrowCarrousel client:load/>
    </div>
</section>