---
import Header from "../components/Header"
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Positivus</title>
	</head>
	<body class="bg-white">
		<Header client:load/>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Space Grotesk';
		src: url('/public/fonts/SpaceGrotesk-Light.ttf') format('truetype');
	}
</style>

<style>
	body{
		font-family: 'Space Grotesk', serif;
	}
</style>